html { height: 100%; }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
    font-size: 87.5%; /* Base font size: 14px */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background: #F3F3F3;
    color: #666;
    line-height: 1.5em;
}
.container{
	width: 100%;
}
.slider-component{
	position: absolute;
	width: 100%;
	overflow: hidden;
}
.slider{
	width: 100%;
	height: 550px;
	overflow: hidden;
}
.slider img{
	width: 100%;

}
.current{
	display: block;
}
.fade-slide{
	transition: all ease-in 2s;
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}
@keyframes fadein {
    from { opacity: .8; }
    to   { opacity: 1; }
}
.imgOverlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(183,28,28,.5);
}
.prev, .next{
	position: absolute;
	top:50%;
	padding: 15px;
	cursor: pointer;
	font-size: 25px;
	color: #FFD4D4;
	z-index: 1;
}
.prev{
	left: 30px;
}
.next{
	right: 30px;
}
.prev:hover, .next:hover{
	color:#B71C1C;
}
.caption{
	position: absolute;
	top: 50%;
	width: 50%;
	left: 35%;
	right: 25%;
	text-align: right;
	text-shadow: 2px 2px 2px rgba(0,0,0, 1);
	margin: 0 absolute;
	z-index: 1;
}
.caption h3{
	color: #FFF;
	padding: 0 10px;
	font-size: 2.3rem;
	margin-bottom: 20px;
	font-weight: 400;
}
.caption p{
	margin: 0 0 20px auto;
	width: 80%;
	padding: 10px;
	color: #fff;
	font-size: 1.0rem;
	font-weight: 200;

}
.caption span{
	display: inline-block;
	width: auto;
	text-shadow: none;
	background: #FF5D48;
	color: #FFF;
	padding: 8px 15px;
	margin: 0 10px;
	transition: all ease .5s;
}
.caption span:last-child{
	margin-right: 10px;
}
.caption span.clear{
	background: none;
	border: 1px solid #F3F3F3;
}
.caption span.clear:hover{
	background: #FF5D48;
	border: 1px solid #FF5D48;
}
.caption span:hover{
	background:#B71C1C;
}
.caption span a{
	color: #FFF;
	text-decoration: none;
}
.dots-container{
	position: absolute;
	top: 90%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.dots{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 2px;
	cursor: pointer;
	border:1px solid #E93924;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.active-dot{
	background:#B71C1C;
	border:1px solid #E93924;
}
@media only screen and (max-width: 750px){
	.slider{
		position: relative;
		height: 100%;
	}
	.slider img{
		height: 100%;
	}
	.caption{
		position: absolute;
		top: 30%;
		width: 60%;
		left: 20%;
		right: 20%;
	}
	.caption h3{
		color: #FFF;
		padding: 0 10px;
		font-size: 1.8em;
		line-height: 1em;
		margin-bottom: 15px;
		font-weight: 400;
	}
	.caption p{
		margin: 0 0 20px auto;
		width: 90%;
		padding: 10px;
		color: #fff;
		font-size: 1em;
		font-weight: 200;

	}
	.caption span{
		font-size: 1em;
	}

}

@media only screen and (max-width: 650px){
	.caption{
		top: 50%;
		width: 70%;
		left: 15%;
		right: 15%;
		text-align: center;
	}
	.caption h3{
		font-size: 1.3em;
	}
	.caption p{
		display: none;

	}

	.prev, .next{
		top:40%;
		font-size: 1em;
	}
	.prev{
		left: 15px;
	}
	.next{
		right: 15px;
	}
	.prev:hover, .next:hover{
		color:#B71C1C;
	}
	.caption span{
		display: none;
	}
	.dots-container{
		top: 80%;
		width: 100%;
	}
	.dots{
		width: .5em;
		height: .5em;
	}
}